<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
 
    <label> Username
      <input type="username" name="username" placeholder="Jack_Black" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="******" />
    </label>
 
    <button type="submit">Create account</button> 
    <br>
    <br>
    <img src="https://media4.giphy.com/media/mlvseq9yvZhba/giphy.gif?cid=ecf05e47iqmu9mlhgidl1pv5u763g7psvdkx6hq89g3l92tf&rid=giphy.gif&ct=g" alt="">
  </form>
</div>